*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}
body{ 
    background: rgb(187, 141, 84);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
 } 
#CajaPadre button{ 
    padding: 10px 10px 10px 10px; background-color: rgb(150, 211, 158); 
    border-radius: 4px; 
    border: none; 
} 
#CajaPadre{ 
    background: rgba(45, 46, 19, 0.7); 
    color: #fff; 
    border-radius: 5px; 
    margin: auto; 
    width:900px ; 
    height:auto; 
    padding-left: 25px; 
    padding-top: 25px; 
    border-radius: 5px; 
    margin-bottom: 10px ; 
    padding-bottom: 25px; 
    margin-top: 50px; 
} 
#CajaPadre input 
{ 
    width: 25%; 
    padding: 10px; 
    border-radius: 4px; 
    margin: 0 0 20px 0; 
    border-bottom: 4px solid #8bb628; 
    outline: none; 
    font-size: 14px; 
    font-weight: normal; 
    color: rgb(0, 30, 56); 
    margin-top: 20px; 
}
    